<%- include('header') %>
<div class="box" id="heading">
  <h1>About</h1>
</div>
<div class="box item">
  <p>
    This is a To Do app based on Node.js, Express and EJS, demonstrating the use
    of templates and layouts.
  </p>
</div>

<%- include('footer') %>
